*{transition:all 0.2s ease-in-out;}

a{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
    text-decoration: none;
    color: #004679;
}
a:hover {
    color: grey;
    background-color:#DCDCDC;
  }
.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{
    float:left;
}

.nav_li{    
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}


.main
{
    margin: 5px auto;
    display: grid;
    margin: 10px;
    grid-template-rows:150px 310px;
    grid-template-columns: 300px auto 400px;
    grid-gap: 10px;
}
.rt-container{
  width: 100;
  padding: 10px;
  border: 1px solid #f5f5f5;
  margin: 0;
  background-color:#f5f5f5;
}
h2{
  background-color:#dcdcdc	;
  width: 100;
  padding: 0px;
  border: 1px solid#dcdcdc;
  margin: 0;
  font-size: x-large;
}
#pan{
  font-weight: bold;
}
.clear0{
  background-color:white	;
}
.clear2{
  background-color:white	;
}
.clear3{
  width: 100;
  text-align: center;
}
.sub{
  background-color:  #004679;
  border: 2px solid #004679;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin: 10px 30px;
  cursor: pointer;
  text-decoration:none;
}